body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 100vh;
}
.container{
   max-width: 250px;
   display: grid;
   height: 340px;
   box-shadow: 0 0 20px red;
   border-radius: 10px;
}
.container > button{
  font-size: 25px;
  background: blue;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: 2px solid red;
}
input{
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 20px;
  text-align: right;
  border-radius: 10px;
  outline: none;
  border: none;
  background: gray;
  border: 2px solid red;
}
